.x-boundlist-item img.chkCombo {
	background: transparent
	url(../../../EXTJS5/ext-5.0.1/build/packages/ext-theme-gray/build/resources/images/menu/default-unchecked.gif);
	width: 17px;
	height: 14.5px;
}

.x-boundlist-selected img.chkCombo {
	background: transparent
	url(../../../EXTJS5/ext-5.0.1/build/packages/ext-theme-gray/build/resources/images/menu/default-checked.gif);
	width: 17px;
	height: 14.5px;
}

.x-grid-row .x-grid-cell-inner {
	white-space: normal;
}
.x-grid-row-over .x-grid-cell-inner {
	font-weight: bold;
	white-space: normal;
}

.custom-header-grid .x-column-header-inner {
	background-image: none;
	background-color: #4474c7;
	color: white;
	border-right: 1px solid white;
}

.custom-header-grid .x-column-header-over{
	background-image: none;
	background-color: #4474c7;	
	color: white;
	border-right: 1px solid white;
}

#progress-bar {
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	position: fixed;
	top: 0px;
	left: 0px;
}

#progress-bar2 {
	width: 300px;
	height: 250px;
	margin: 17% auto 0;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 10px;
}

#loading-text {
	width: 300px;
	height: 16%;
	padding-top: 4%;
	font-weight: bold;
	color: white;
	text-align: center;
}

#loading-image {
	width: 300px;
	height: 80%;
	text-align: center;
}
